body{
    margin: 0;
    padding: 0;
}

header{
    
    box-shadow: 0px 0px 5px #676772;
    display: flex;
    justify-content: space-between; 
    
}

div#header-left{
    display: flex;
    margin-left: 50px;

}

#logo{
    margin-top: 30px;
    margin-right: 5px;
}

#food-span{
    font-weight: normal;
    font-size: 25px;
}

#sp-an{
    font-weight: normal;
    font-size: 32px;
}

#header-nav{
    margin-top: 30px;
}

.navhead{
    margin-right: 100px;
    text-decoration: none;
    margin-bottom: 0;
    font-size: 20px;
    color: black;
}

.navhead:hover{
    border-bottom: 2px solid yellow;
}

.pane{   
    position: relative;
}

#left-pane{
    margin: 30px;
    left: 0;
    position: absolute;
    margin: 40px;
}

#right-pane{
    right: 0;
    position: absolute;
}

article > h1 {
    font-size: 40px;
    word-spacing: 5px;
}

article > p{
    font-size: 30px;
}

.h11{
    display: block;
    letter-spacing: 2px;
}

#mo-od{
    display: block;
}

#btn-discover{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 1px 1px 2px #676772, 0px 0px 2px black, -1px 0px 2px black;
    border: none;
    background-color: white;
}

#btn-discover::after{
    content: '>';
    margin-left: 10px;
}

#right-pane{
    background-color: yellow;
    z-index: -1;
    height: 590px;
    width: 700px;
    border-radius: 400px 0px 150px 400px;
    box-shadow: 0 0 3px black;
}

#fo-od{
    width: 570px;
    height: 570px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    
}

a.fa{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.fa-facebook{
    margin-left: 50px;
}

footer#foot-er{
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

