body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(147deg, #264d59, #43978d);
    color: #f9ad6a;
    
}

nav.nav-nav{
    display: flex;
    justify-content: center; 
    padding: 10px; 
    background-color: gray;
    
    
} 

a.li-a{
    text-decoration: none;
    flex-basis: 225px;
    letter-spacing: 2px;
    padding: 2px;
    align-self: center;
    text-transform: uppercase;
    text-align: center;
    background-color: teal;
    color: white;
    position: relative;
}

a.a1:hover, a.a2:hover, a.a3:hover, .a4:hover{
    flex-basis: 225px;
    background-color: #f9ad6a;
    
    

}
section article{
    
    margin: 10px;
}

h1{
    
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

